#app-container .nabar {
    border-radius: 0px;
}
.counter {
	padding: 10px;
	text-align: center;
	font-size: 2em;
	border: 1px solid grey;
	border-radius: 5px;
	width: 100px;
}
.person-wall {
	width: 100%;
}
.person-panel {

}