#app-container .nabar {
    border-radius: 0px;
}
section {
	height: 600px;
	border-bottom: 3px solid black;
}
section:last-child {
	border-bottom: 0px;
}
#about-me-section {
	background-color: red;
}
#skills-section {
	background-color: blue;
}
#footer {
	background-color: yellow;
}